// color
$color-normal = #eeeff1;
$color-main = #db5b6c;
$color-info = #1ba784;
$color-warn = #E6A23C;
$color-error = #e1122a;
$color-black1 = #747d8c;
$color-black2 = #2f3542;
$color-white1 = #7ba2a1;
$color-white2 = #a4faf6;
$color-white3 = #f5f8f8;
$color-blue = #70a1ff;
$color-gray = #ced6e0;
$dis = 7rem;



#app {


  @media (max-width 1400px) {
    .sidebar {
      margin-left 4rem;
    }

    .ra-wrapper {
      right 4rem !important;
    }

    .page {
      &>section,footer,.page-nav{
        max-width 700px
      }
    }
  }
  @media (max-width 1100px) {
    .sidebar {
      margin-left 0.5rem;
    }

    .ra-wrapper {
      right 0.5rem !important;
    }
        .page {
      &>section,footer,.page-nav{
        max-width 600px
      }
    }


  }
  @media (max-width 900px) {
    .sidebar {
      margin-left 0.5rem;
    }

    .ra-wrapper {
      display none
    }
        .page {
      &>section,footer,.page-nav{
        max-width 500px
      }
    }
  }


}

.navbar {
  max-width 2000px;
  margin 0 auto;
  padding-left $dis
  padding-right $dis
  display flex;
  flex-flow row nowrap;
  align-items center;
  justify-content space-between;

  .home-link {
    display flex;
    flex-flow row nowrap
  }

  .links {
    position: static;
  }

  .site-name.can-hide {
    color $color-main
    font-size 25px
  }

}

.sidebar {
  margin-left $dis
  width auto
  min-width 200px
  //background transparent;
  //border-right none

  & .active {
    color $color-main
    border-left-color $color-main
  }

}


.page {
  position relative
  margin 0!important

  margin-top 70px

  & > section {
    //display flex;
    //flex-flow column nowrap;
    //justify-content center;
    //align-items center
    position relative
    max-width 900px
    margin 0 auto
    .demo-block{
      position relative!important;
      overflow: hidden
    }
    .demo-block-control.is-fixed{
      top 30px;
      bottom 0
    }

    & > *{
      width 100%!important
    }
    .page-title{
      display none
    }
  }

  & > .page-nav{
    padding 0
    &>*{
      margin-left 20px
    display flex
    justify-content space-between
  }
  }

  .theme-reco-content {
    max-width 800px

    margin 0 auto !important

    .demo-block {
      margin-bottom 60px
    }

    h1, h2, h3, h4 {
      padding-top 0
      margin-top 0
    }

    & > p, li {
      code {
        color $color-main;
      }
    }

    & > blockquote {
      color: $color-black1;

      & strong {
        color: $color-black2;
      }
    }

    & > table {
      width 100%;
      table-layout fixed!important
      text-align center!important


      & td, th {
        width: 10% !important
        //border-right none
        //border-left none
      }
    }

    & > h1, h2 {
      position relative;

    }
  }

}

.global-ui {
  .ra-wrapper {
    right $dis !important;

    .active {
      color #e0707f;
    }

  }
}

  .iconfont{
    color inherit!important;
  }

